.input-container{
    border: 1px solid #D2D8E0;
    border-radius: 10px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
}
.input{
    background-color: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    height: 100%;
    border: none;
}